<div id='main'>
    <h1>Autor hinzufügen</h1>
    <form id='authorform' action='/author_db' method='post' class='form'>
        <input type='text' id='surname' name='surname' placeholder='Vorname'>
        <input type='text' id='name' name='name' placeholder='Nachname'>
        <input type='submit' value='Autor hinzufügen' id='submit'>
    </form>
</div>