<form id="testform" action="/author_db" method="post">
    <input type="text" id="surname" name="surname" placeholder="Vorname">
    <input type="text" id="name" name="name" placeholder="Nachname">
    <input type="submit" value="submit">
</form>