<form id="testform" action="testsubmit" method="POST">
    <input type="text" id="surname" placeholder="Vorname">
    <input type="text" id="name" placeholder="Nachname">
    <input type="submit" value="Einsenden">
</form>