<div id="main">
    <h1>Kategorie hinzufügen</h1>
    <form action="/category_db" method="post">
        <input type="text" id="catname" name="catname" placeholder="Kategoriename">
        <input type="text" id="caturl" name="caturl" placeholder="Kategorie-URL ohne Sonderzeichen oder Leerzeichen">
        <input type="submit" value="Kategorie erstellen">
    </form>
</div>