<div id="main">
    <h1>Autor bearbeiten</h1>
    <ul id="author_list">
        {{#each authors}}
            <a href="/editauthor/{{this._id}}">
                {{this.Surname}} {{this.Name}}
            </a>
        {{/each}}
    </ul>
</div>