<div id="main">
    <h1>Kategorie bearbeiten</h1>
    <ul id="author_list">
        {{#each category}}
            <a href="/editcategory/{{this.caturl}}">
                {{this.catname}}
            </a>
        {{/each}}
    </ul>
</div>