<div id='main'>
    <h1>{{ message }}</h1>
    <h2>{{ error.status }}</h2>
    <img src="https://i.pinimg.com/originals/3e/1f/70/3e1f70cf948d3b4897a230294f265551.gif">
    <!--pre>{{{ error.stack }}}</pre>!-->
</div>