<div id="main">
    <h1>Willkommen!</h1>
    <p>
        Dies ist ein Blog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, hic cupiditate atque explicabo alias quis adipisci a vero possimus laudantium cum sapiente saepe fuga ratione eum distinctio harum consequatur quae.
    </p>
</div>