<div id="main">
    <h1>Kontakt</h1>
    <form action="/contact_db" method="post">
        <input type="text" id="name" name="name" placeholder="Name">
        <textarea id="text" name="text" placeholder="Text"></textarea>
        <input type="submit" id="submit" value="Abschicken">
    </form>
</div>