<div id='main'>
    <h1>Einloggen</h1>
    <form action='/do_login' method='post'>
        <input type='password' name='password' id='password' placeholder='Passwort'>
        <input type='submit' value='Login'>
    </form>
</div>